/* font-size (headers) -> $head_s:
font-size (body) -> $body_s: 
font-style (headers) -> $f_head:
font-style (body) -> $f_body:
color 1 -> $c1:
color 2 -> $c2:
highlight -> $highlight: */

*{
    max-width: 100%;
}

body{
    box-sizing: content-box;
    justify-content: center;
    background-color: #defaf4;
    font-family: 'Josefin Sans', sans-serif;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: solid;
    background-color: #001b6e;
}

#navbar .navitem{
    padding: 0.4rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #defaf4;
    font-weight: bold;
}

#navbar .navitem:hover{
    padding: 0.4rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #defaf4;
    color: #001b6e;
    font-weight: bold;
    border-radius: 0.5rem;
}

#navbar .navitem #title{
    font-size: 2rem;
    font-family: 'Cookie', cursive;
}

#main{
    margin: 1rem 1rem;
}

.header{
    font-size: 1.3rem;
    font-family: 'Lobster', cursive;
}

#contact{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
}

.c-item{
    padding: auto;
    margin: auto auto;
    justify-content: center;
    align-items: center;
}

a{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
}

a:hover{
    font-weight: bold;
}

ul{
    list-style-type: none;
}

ul li{
    margin: 0.5rem 0;
    padding: 1rem;
}

ul li:hover{
    background-color: #a5d6d6;
}

#nav-btn{
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
    display: none;
}

#nav{
    position: fixed;
    top: 0rem;
    right: 0rem;
    background-color: black;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    display: none;
    z-index: 5;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav ul li{
    padding: 1rem;
    overflow: hidden;
    color: white;
}

#nav ul li a{
    text-decoration: inherit;
    color: inherit;
}

#nav.active{
    transform: translateX(0%);
    display: block;
}

#nav-btn.active{
    transform: translateX(-150px);
}

@media only screen and (max-width: 1000px){
    #navbar{
        display: none;
    }
    #nav-btn{
        display: block;
    }
}